@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Gilroy", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.radarAnimation::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    /* background-clip: text;
    color: transparent; */
    background: linear-gradient(rgba(0, 0, 0, 0), #00c000, rgba(0, 0, 0, 0));

    animation: moveScanner 5s ease-in-out infinite;
}

@keyframes moveScanner {
    0% {
        top: 0;
        opacity: 1;
    }

    50% {
        top: 100%;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

/* React Transition Group */

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

/* Slide Up */
.slideUp-enter {
    opacity: 0;
    transform: translateY(100%);
}
.slideUp-enter-active {
    opacity: 1;
    transform: translateY(0%);
}
.slideUp-exit {
    opacity: 1;
    transform: translateY(0%);
}
.slideUp-exit-active {
    opacity: 0;
    transform: translateY(-100%);
}
.slideUp-enter-active,
.slideUp-exit-active {
    transition: opacity 500ms, transform 500ms;
}
